:root {
    --first-screen-font-color-light: rgba(51, 45, 48, 0.9);
    --first-screen-font-color-dark: rgba(51, 45, 48, 0.9);
    --first-screen-font-size: 35px;
    --first-screen-icon-size: 30px;
    --header-backdrop-filter-blur: 20px;
    --header-title-font-size: 35px;

}